@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.chat-room{
  background-color:darkgray
}

.landing{
  height:100vh;
  background-image: url('/wallpaper2.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0%;
}

.inputbox{
  position: relative;
  min-height: 40px;
  margin-top:5%;
  margin-bottom:5%;
  margin-left:2%;
  margin-right:2%;
  width: 100%;
  border-bottom: 2px solid var(--customDarkBlue);
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 49px -10px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 49px -10px rgba(0,0,0,0.3);
}

.search-bar input[type="text"]:focus {
box-shadow: inset 0 0 3px #ddd;
}

.search-bar button {
position: absolute;
top: 0;
right: 0;
width: 40px;
height: 36px;
border: none;
border-radius: 20px;
background-color: #4caf50;
color: white;
font-size: 16px;
cursor: pointer;
}

.search-bar button:hover {
background-color: #3e8e41;
}

.search-bar ul {
position: absolute;
top: 36px;
left: 0;
width: 100%;
max-height: 200px;
overflow-y: auto;
background-color: white;
border: 1px solid #ddd;
border-radius: 0 0 20px 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.search-bar li {
display: block;
width: 100%;
padding: 10px 20px;
font-size: 16px;
border-bottom: 1px solid #ddd;
cursor: pointer;
}

.search-bar li:hover {
background-color: #f2f2f2;
}

.inputbox label{
position: absolute;
top: 50%;
left: 1.3%;
transform: translateY(-50%);
color: var(--customDarkBlue);
font-size: 1em;
pointer-events: none;
transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -3%;
}
.inputbox input {
width: 100%;
height: 50px;
background: transparent;
border: none;
outline: none;
font-size: 1em;
padding:0 35px 0 5px;
color: var(--customDarkBlue);
}
.inputbox ion-icon{
position: absolute;
right: 0%;
color: var(--customDarkBlue);
font-size: 1.2em;
top: 2vh;
}
/* FontAwesomeIcon */
.inputbox .custom-icon{
position: absolute;
right: 0%;
color: var(--customDarkBlue);
font-size: 1.2em;
top: 2vh;
}

.custom-button{
color: #fff;
background-color: #3354a9;
width: 50%;
border: 2px solid #fff;
border-radius: 25px;
padding: 10px;
margin-top: 10px;
margin-left: 25%;
margin-right: 25%;
-webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
-moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.custom-button-outline{
color: #3354a9;
background-color: #fff;
width: 50%;
border: 2px solid #3354a9;
border-radius: 25px;
padding: 10px;
margin-top: 10px;
margin-left: 25%;
margin-right: 25%;
-webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
-moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.full-width{
width:100% !important;
margin-left:0% !important;
}


.radio-button{
color: #fff;
background-color: #3354a9;
width: 50%;
border: 2px solid #fff;
border-radius: 25px;
padding: 10px;
margin-top: 10px;
-webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
-moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.radio-button-group{
margin-top:15px;
margin-bottom: 15px;
display:flex;
}

.radio-button-outline{
color: #3354a9;
background-color: #fff;
width: 50%;
border: 2px solid #3354a9;
border-radius: 25px;
padding: 10px;
margin-top: 10px;
-webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
-moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.custom-button:hover{
background-color: #fff;
color: #3354a9;
border: 2px solid #3354a9;
}
.custom-button:focus{
outline: none;
}

.custom-button .custom-button-out{
background: transparent;
color: #fff;
width: 120px;
border: 2px solid#fff;
border-radius: 25px;
padding: 10px;
-webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
-moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}
.custom-button .custom-button-out:hover{
border: 2px solid#eecbff;
}
.custom-button .custom-button-out:focus{
outline: none;
}

.errorBox {
position: relative;
margin: 5px 0;
color: red;
}

.error-modal{
margin-top: 10vh;
margin-left: 50vh;
width: 100%;
height: 100vh;
}

.error-modal .content{
background-color: var(--customDarkBlue);
color:whitesmoke;
}

.w-60{
width:60% !important;
}

.w-18{
width: 18% !important;
}

.customNavbar{
background-color: var(--customDarkBlue) !important;
color: whitesmoke;
width: 100%;
height: 65px !important;
font-size: 1.2rem;
z-index:999;
}
