.chat-tile {
  position: fixed;
  margin-top: 5%;
  width: 25%;
  height: 100%;
  background: whitesmoke;
  border-left: 10px solid whitesmoke;
  color: #ccc;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 100ms;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}



.chat-tile li {
  position: relative;
  width: 25%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0px;
  margin-bottom: 15px;
}

.chat-tile li:hover,
.chat-tile li.hovered,
.chat-tile li.active {
  background-color: var(--white);
  color: var(--customDarkBlue);
  cursor: pointer;
}


.chat-tile li a .icon img {
  width: 40px;
  color: var(--white);
  margin-top: 7px;
}

.searchbar{
  margin-top: 1%;
  width:25% !important;
  margin-bottom: 2%;
}
