.profile-picture-container {
  position: relative;
  display: inline-block;
  width:40%;
  height: auto;
  margin-left: 30%;
  margin-right:30%;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture-container img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%; 
}

.profile-picture-container:hover .edit-profile-picture {
  display: block;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-align: center;
  font-size: 1.3rem;
  text-decoration: double;
}
.edit-profile-picture {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 25%;
  color: white !important;
}