<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.1.10/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Welcome!</title>
  </head>
  <body>
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content flex-row-reverse">
        <div class="text-center lg:text-left">
          <h1 class="text-5xl font-bold text-center">Login</h1>
          <p class="py-4 w-3/4 mx-auto text-center">
            Login to explore! See our CI/CD stuff we struggled to make. Tailwind
            is awesome!
          </p>
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
          <form class="card-body" method="post" action="/login">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Email</span>
              </label>
              <input
                type="text"
                name="email"
                placeholder="email"
                class="input input-bordered"
              />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Password</span>
              </label>
              <input
                type="text"
                name="password"
                placeholder="password"
                class="input input-bordered"
              />
              <label class="label">
                <a href="#" class="label-text-alt link link-hover"
                  >Forgot password?</a
                >
              </label>
            </div>
            <label class="label">
              <a
                href="/register"
                class="label-text-alt link link-hover text-center mx-auto"
                >New here? Sign up</a
              >
            </label>
            <div class="form-control">
              <button class="btn btn-primary submit">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
